html, body
    height: auto

#root > [class^='page']
    position: relative

.lt-spin
    position: fixed
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)

.lt-main
    clear: both
    padding: 100px 0 0

.table
    border-collapse: collapse !important

.table td, .table th
    background-color: #fff !important

.table-bordered th, .table-bordered td
    border: 1px solid #dee2e6 !important

.table-dark
    color: inherit

.table-dark th, .table-dark td, .table-dark thead th, .table-dark tbody + tbody
    border-color: #dee2e6

.table .thead-dark th
    color: inherit
    border-color: #dee2e6