.loop-pie
    position: relative
    width: 200px
    height: 200px
    margin: 60px

.loop-pie-line
    position: absolute
    width: 50%
    height: 100%
    top: 0
    overflow: hidden

.loop-pie-l
    top: 0px
    left: 0px

.loop-pie-r
    top: 0px
    -webkit-transform: rotate(180deg)
    right: 0px

.loop-pie-c
    width: 200%
    height: 100%
    border: 4px solid transparent
    border-radius: 50%
    position: absolute
    box-sizing: border-box
    top: 0
    -webkit-transform: rotate(-45deg)

.loop-pie-rm
    border-top: 4px solid #baedee
    border-left: 4px solid #baedee
    border-bottom: 4px solid #1ac4c7
    border-right: 4px solid #1ac4c7

.loop-pie-lm
    border-top: 4px solid #baedee
    border-left: 4px solid #baedee
    border-bottom: 4px solid #1ac4c7
    border-right: 4px solid #1ac4c7